# Общее
.idea
docker/.env
docker/mysql/data

# ModX
# Игнорировать папку с кэшем MODX (временные данные)
modx/core/cache
# Игнорировать файл основной конфигурации MODX (содержит данные для доступа к БД)
# modx/core/config/config.inc.php
# Игнорировать файл примерной конфигурации.
# modx/core/config/config.inc.php.dist

# Игнорировать папку с кэшем ассетов
modx/assets/cache/*
# Игнорировать папки с кэшем в компонентах
modx/assets/components/*/cache/*
# Игнорировать папку с изображениями
modx/assets/images/*
# Игнорировать папку с файлами (например, pdf, doc)
modx/assets/files/*
# Игнорировать папку с загрузками
modx/assets/uploads/*

# Игнорировать временные файлы и логи
# Игнорировать все файлы с расширением .log
*.log
# Игнорировать файлы резервных копий
*.bak
# Игнорировать файлы редактора Vim (и подобных)
*.swp
# Игнорировать файлы редактора Vim (и подобных)
*.swx
# Игнорировать файлы редактора Vim (и подобных)
*.swo

# Пока что под вопросом
# modx/core/packages/* Игнорировать все файлы в папке с пакетами (устанавливаемые компоненты)
# modx/core/components/*/model/schema/* # Игнорировать файлы схем моделей компонентов